<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (quoteLine(); as quoteLineRef) {
      <div>
        <h2 data-cy="quoteLineDetailsHeading"><span jhiTranslate="jojoaddisonApp.quoteLine.detail.title">Quote Line</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ quoteLineRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="jojoaddisonApp.quoteLine.quantity">Quantity</span></dt>
          <dd>
            <span>{{ quoteLineRef.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="jojoaddisonApp.quoteLine.rate">Rate</span></dt>
          <dd>
            <span>{{ quoteLineRef.rate }}</span>
          </dd>
          <dt><span jhiTranslate="jojoaddisonApp.quoteLine.item">Item</span></dt>
          <dd>
            @if (quoteLine()!.item) {
              <div>
                <a [routerLink]="['/service-item', quoteLine()!.item?.id, 'view']">{{ quoteLineRef.item?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="jojoaddisonApp.quoteLine.quote">Quote</span></dt>
          <dd>
            @if (quoteLine()!.quote) {
              <div>
                <a [routerLink]="['/quote', quoteLine()!.quote?.id, 'view']">{{ quoteLineRef.quote?.reference }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/quote-line', quoteLineRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
