<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading" jhiTranslate="jojoaddisonApp.client.home.createOrEditLabel">
        Create or edit a Client
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="jojoaddisonApp.client.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '120' }"
                  >This field cannot be longer than 120 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sector" jhiTranslate="jojoaddisonApp.client.sector">Sector</label>
          <select class="form-control" name="sector" formControlName="sector" id="field_sector" data-cy="sector">
            <option [ngValue]="null">{{ 'jojoaddisonApp.Market.null' | translate }}</option>
            @for (market of marketValues; track $index) {
              <option [value]="market">{{ 'jojoaddisonApp.Market.' + market | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_clientSince" jhiTranslate="jojoaddisonApp.client.clientSince">Client Since</label>
          <input
            type="number"
            class="form-control"
            name="clientSince"
            id="field_clientSince"
            data-cy="clientSince"
            formControlName="clientSince"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_health" jhiTranslate="jojoaddisonApp.client.health">Health</label>
          <select class="form-control" name="health" formControlName="health" id="field_health" data-cy="health">
            <option [ngValue]="null">{{ 'jojoaddisonApp.Status.null' | translate }}</option>
            @for (status of statusValues; track $index) {
              <option [value]="status">{{ 'jojoaddisonApp.Status.' + status | translate }}</option>
            }
          </select>
        </div>

        @let totalSpendRef = editForm.get('totalSpend')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalSpend" jhiTranslate="jojoaddisonApp.client.totalSpend">Total Spend</label>
          <input
            type="number"
            class="form-control"
            name="totalSpend"
            id="field_totalSpend"
            data-cy="totalSpend"
            formControlName="totalSpend"
          />
          @if (totalSpendRef.invalid && (totalSpendRef.dirty || totalSpendRef.touched)) {
            <div>
              @if (editForm.get('totalSpend')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalSpend')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="jojoaddisonApp.client.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
