<div>
  <h2 id="page-heading" data-cy="ServiceItemHeading">
    <span jhiTranslate="jojoaddisonApp.serviceItem.home.title">Service Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="jojoaddisonApp.serviceItem.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-service-item"
        [routerLink]="['/cms/service-item/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="jojoaddisonApp.serviceItem.home.createLabel">Create a new Service Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (serviceItems().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jojoaddisonApp.serviceItem.home.notFound">No Service Items found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.serviceItem.code">Code</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.serviceItem.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.serviceItem.description">Description</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="rate">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.serviceItem.rate">Rate</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="unit">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.serviceItem.unit">Unit</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceGroup">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.serviceItem.serviceGroup">Service Group</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (serviceItem of serviceItems(); track trackId(serviceItem)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cms/service-item', serviceItem.id, 'view']">{{ serviceItem.id }}</a>
              </td>
              <td>{{ serviceItem.code }}</td>
              <td>{{ serviceItem.name }}</td>
              <td>{{ serviceItem.description }}</td>
              <td>{{ serviceItem.rate }}</td>
              <td [jhiTranslate]="'jojoaddisonApp.RateUnit.' + (serviceItem.unit ?? 'null')">
                {{
                  {
                    null: '',
                    PER_PHASE: 'PER_PHASE',
                    PER_PROCESS: 'PER_PROCESS',
                    PER_SCOPE: 'PER_SCOPE',
                    PER_MODULE: 'PER_MODULE',
                    PER_INTEGRATION: 'PER_INTEGRATION',
                    PER_ENVIRONMENT: 'PER_ENVIRONMENT',
                    PER_MONTH: 'PER_MONTH',
                    PER_DATASET: 'PER_DATASET',
                    PER_COHORT: 'PER_COHORT',
                  }[serviceItem.unit ?? 'null']
                }}
              </td>
              <td [jhiTranslate]="'jojoaddisonApp.CatalogueGroup.' + (serviceItem.serviceGroup ?? 'null')">
                {{
                  { null: '', CONSULTANCY: 'CONSULTANCY', SOLUTIONS: 'SOLUTIONS', SERVICES: 'SERVICES', TRAINING: 'TRAINING' }[
                    serviceItem.serviceGroup ?? 'null'
                  ]
                }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/cms/service-item', serviceItem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/cms/service-item', serviceItem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(serviceItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (serviceItems().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
