<div>
  <h2 id="page-heading" data-cy="LeadHeading">
    <span jhiTranslate="jojoaddisonApp.lead.home.title">Leads</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="jojoaddisonApp.lead.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lead"
        [routerLink]="['/lead/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="jojoaddisonApp.lead.home.createLabel">Create a new Lead</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (leads().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jojoaddisonApp.lead.home.notFound">No Leads found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.lead.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.lead.email">Email</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="need">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.lead.need">Need</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="message">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.lead.message">Message</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.lead.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="jojoaddisonApp.lead.status">Status</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (lead of leads(); track trackId(lead)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/lead', lead.id, 'view']">{{ lead.id }}</a>
              </td>
              <td>{{ lead.name }}</td>
              <td>{{ lead.email }}</td>
              <td [jhiTranslate]="'jojoaddisonApp.EnquiryType.' + (lead.need ?? 'null')">
                {{
                  {
                    null: '',
                    BESPOKE_SOLUTION: 'BESPOKE_SOLUTION',
                    DIGITAL_TRANSFORMATION: 'DIGITAL_TRANSFORMATION',
                    CAPACITY_BUILDING: 'CAPACITY_BUILDING',
                    ENTERPRISE_INTEGRATION: 'ENTERPRISE_INTEGRATION',
                    ISO_AUDIT: 'ISO_AUDIT',
                    OTHER: 'OTHER',
                  }[lead.need ?? 'null']
                }}
              </td>
              <td>{{ lead.message }}</td>
              <td>{{ lead.createdDate | formatMediumDatetime }}</td>
              <td [jhiTranslate]="'jojoaddisonApp.LeadStatus.' + (lead.status ?? 'null')">
                {{ { null: '', NEW: 'NEW', CONTACTED: 'CONTACTED', QUALIFIED: 'QUALIFIED', CLOSED: 'CLOSED' }[lead.status ?? 'null'] }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/lead', lead.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/lead', lead.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(lead)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (leads().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
