<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-project-heading" data-cy="ProjectCreateUpdateHeading" jhiTranslate="jojoaddisonApp.project.home.createOrEditLabel">
        Create or edit a Project
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let referenceRef = editForm.get('reference')!;
        <div class="mb-3">
          <label class="form-label" for="field_reference" jhiTranslate="jojoaddisonApp.project.reference">Reference</label>
          <input type="text" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
          @if (referenceRef.invalid && (referenceRef.dirty || referenceRef.touched)) {
            <div>
              @if (editForm.get('reference')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('reference')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="jojoaddisonApp.project.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '160' }"
                  >This field cannot be longer than 160 characters.</small
                >
              }
            </div>
          }
        </div>

        @let pillarRef = editForm.get('pillar')!;
        <div class="mb-3">
          <label class="form-label" for="field_pillar" jhiTranslate="jojoaddisonApp.project.pillar">Pillar</label>
          <select class="form-control" name="pillar" formControlName="pillar" id="field_pillar" data-cy="pillar">
            <option [ngValue]="null">{{ 'jojoaddisonApp.ServicePillar.null' | translate }}</option>
            @for (servicePillar of servicePillarValues; track $index) {
              <option [value]="servicePillar">{{ 'jojoaddisonApp.ServicePillar.' + servicePillar | translate }}</option>
            }
          </select>
          @if (pillarRef.invalid && (pillarRef.dirty || pillarRef.touched)) {
            <div>
              @if (editForm.get('pillar')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="jojoaddisonApp.project.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'jojoaddisonApp.Status.null' | translate }}</option>
            @for (status of statusValues; track $index) {
              <option [value]="status">{{ 'jojoaddisonApp.Status.' + status | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let progressRef = editForm.get('progress')!;
        <div class="mb-3">
          <label class="form-label" for="field_progress" jhiTranslate="jojoaddisonApp.project.progress">Progress</label>
          <input type="number" class="form-control" name="progress" id="field_progress" data-cy="progress" formControlName="progress" />
          @if (progressRef.invalid && (progressRef.dirty || progressRef.touched)) {
            <div>
              @if (editForm.get('progress')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              @if (editForm.get('progress')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '100' }"
                  >This field cannot be more than 100.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('progress')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dueDate" jhiTranslate="jojoaddisonApp.project.dueDate">Due Date</label>
          <div class="input-group">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="text"
              class="form-control"
              name="dueDate"
              ngbDatepicker
              #dueDateDp="ngbDatepicker"
              formControlName="dueDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_delivered" jhiTranslate="jojoaddisonApp.project.delivered">Delivered</label>
          <input type="checkbox" class="form-check" name="delivered" id="field_delivered" data-cy="delivered" formControlName="delivered" />
        </div>

        @let budgetRef = editForm.get('budget')!;
        <div class="mb-3">
          <label class="form-label" for="field_budget" jhiTranslate="jojoaddisonApp.project.budget">Budget</label>
          <input type="number" class="form-control" name="budget" id="field_budget" data-cy="budget" formControlName="budget" />
          @if (budgetRef.invalid && (budgetRef.dirty || budgetRef.touched)) {
            <div>
              @if (editForm.get('budget')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('budget')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let spentRef = editForm.get('spent')!;
        <div class="mb-3">
          <label class="form-label" for="field_spent" jhiTranslate="jojoaddisonApp.project.spent">Spent</label>
          <input type="number" class="form-control" name="spent" id="field_spent" data-cy="spent" formControlName="spent" />
          @if (spentRef.invalid && (spentRef.dirty || spentRef.touched)) {
            <div>
              @if (editForm.get('spent')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >This field should be at least 0.</small
                >
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('spent')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let techStackRef = editForm.get('techStack')!;
        <div class="mb-3">
          <label class="form-label" for="field_techStack" jhiTranslate="jojoaddisonApp.project.techStack">Tech Stack</label>
          <input type="text" class="form-control" name="techStack" id="field_techStack" data-cy="techStack" formControlName="techStack" />
          @if (techStackRef.invalid && (techStackRef.dirty || techStackRef.touched)) {
            <div>
              @if (editForm.get('techStack')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '255' }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lead" jhiTranslate="jojoaddisonApp.project.lead">Lead</label>
          <select class="form-control" id="field_lead" data-cy="lead" name="lead" formControlName="lead" [compareWith]="compareTeamMember">
            <option [ngValue]="null"></option>
            @for (teamMemberOption of teamMembersSharedCollection(); track $index) {
              <option [ngValue]="teamMemberOption">{{ teamMemberOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_client" jhiTranslate="jojoaddisonApp.project.client">Client</label>
          <select
            class="form-control"
            id="field_client"
            data-cy="client"
            name="client"
            formControlName="client"
            [compareWith]="compareClient"
          >
            @if (editForm.get(['client'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (clientOption of clientsSharedCollection(); track $index) {
              <option [ngValue]="clientOption">{{ clientOption.name }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['client'])!.invalid && (editForm.get(['client'])!.dirty || editForm.get(['client'])!.touched)) {
          <div>
            @if (editForm.get(['client'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
